nav	{	
	box-sizing: border-box;
	border: solid black 5px;
	background-color: grey;
	height: 40px;
	width: 100%;

}

nav ul {
	list-style-type: none;

}

nav ul li {
	 display: inline-block;

}

article {
	box-sizing: border-box;
	float: right;
	height: 300px;
	width: 60%;
	background-color: grey;
	border: solid black 5px;

}

aside {
	box-sizing: border-box;
	float: left;
	width: 40%;
	background-color: grey;
	border: solid black 5px;
	height: 300px;
}

footer {
	clear: both;
	background-color: red;
	width: 100%;
	border: solid black	5px;
	box-sizing: border-box;
	height: 500px;

}